neo4j_conf = {
  "host": "localhost",
  "port": 7687,
  "user": "neo4j",
  "pass": "neo4j"
}
mongo_conf = {
  "host": "localhost",
  "port": 27017,
  "base": "hyphe",
  "coll": "corpus.pages"
}
lrus_batch_size = 50000
